* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    display: flex;
    flex-direction: column;
  }
.content {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 90vh; 
  }
.menu {
    display: flex;
    background-color: #777;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
    color: white;
    padding: 10px;
    height: 10vh;
  }
  .menu ul {
    list-style: none;
    display: flex;
    margin-bottom: .5px;
  }
  
  .menu ul li {
    margin-right: 20px;
  }
  .menu ul li i {
   /* text-decoration: none;*/
    color: white;
    font-weight: bold;
    padding: 5px 40px;
    border-radius: 5px 10px;
    background-color: #555;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  .menu ul li i.active, .menu ul li i:hover {
    background-color: #333; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
.col-1{
    background-color: darkgray;
    flex: 0 0 45%;
    overflow: auto;
}
.col-2{
    background-color: lightgrey;
    flex: 0 0 55%;
    overflow: auto;
}
.d-flex{
  display: flex;
  padding: 0px;
}
.icons{
    display: flex;
}
.icons i{
    font-size: 1.5rem;
    color: #fff;
    padding: 5px;
    margin: 1px 15px;
}
.icons i:hover{
    color: #ccc;
}
/*.icons .icons-group span{
  flex-direction: column;//use if I'm not making use of span
  display: flex;
}*/
.icons .icons-group{
    opacity: 0;
}
.icons .icons-group.active{
    opacity: 1;
}
.label{
    padding: 2px 5px;
    font-size: 18px;
    font-weight: bold;
}
.label.red{
  color: maroon;
}

.label.green{
  color: green;
}
.label.black{
  color:black;
}
.red{
  color: maroon;
}
.green{
  color: green;
}
.yellow{
  color: darkgoldenrod;
}
.blue{
  color: blue;
}
.black{
  color: black;
}
.p{
  padding: 10px;
  text-align: justify;
  line-height: normal;
  font-size: 16px;
}
.chart-info{
  width: 100%;
  height: 85px;
  margin-bottom: 30px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chart-info .label{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  padding: .05px 0;
}
.chart-info .b1{
  font-size: 16px;
}
.chart-info .b2{
  font-size: 14px;
}
.chart-info .b3{
  font-size: 13px;
}
.chart-info .img{
  width: 80px;
  height: 65px;
  margin: 5px;
  /* padding: 10px; */
}

.graph,.big-table, .projects{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.graph{
  background-color: lightgray;
  z-index: 3;
}
.big-table, .projects{
  background: darkgray;
  z-index: 2;
  padding: .7rem;
}
.big-table.active, .projects.active{
  display: block;
}
.graph.active{
  display: block;
}
.graph .bhlogs{
  /*display: flex;
  flex-direction: row;
  width: fit-content;*/
  background-color: lightgray;
}
.graph .camera{
  font-size: 1.6rem;
  position: absolute;
  right: 42px;
  top: 8px;
}
.graph .view{
  font-size: 1.6rem;
  position: absolute;
  right: 120px;
  top: 8px;
}
.graph .add{
  font-size: 1.6rem;
  position: absolute;
  right: 80px;
  top: 8px;
}
.graph .counter{
  /*width: 1.6rem;
  height: 1.6rem;*/
  font-size: 1rem;
  position: absolute;
  right: 70px;
  top: 2px;
  border-radius: 50%;
  color: green;
  font-weight: 700;
}
.graph .left{
  font-size: 1.6rem;
  position: absolute;
  left: 32px;
  top: 8px;
}
.graph .right{
  font-size: 1.6rem;
  position: absolute;
  right: 160px;
  top: 8px;
}
.graph .camera:hover{
  color: darkblue;
  font-size: 1.8rem;
  cursor: pointer;
}
.graph .counter.active{
  top: 80px;
}
.graph .x.active, .graph .camera.active, .graph .left.active, .graph .right.active,.graph .view.active, .graph .add.active{
  top: 85px;
}
.x{
  font-size: 1.6rem;
  position: absolute;
  right: 10px;
  top: 8px;
}
.x:hover{
  color: red;
  font-size: 1.8rem;
  cursor: pointer;
}

/*dialogs */
.pro-dialog, .sample-dialog, .msg-dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}
.pro-dialog.active, .msg-dialog.active{
  display: block;
}
.pro-dialog .x{
  z-index: 2;
}
.sample-dialog.active {
  display: flex;
}
.sample-box{
  margin: 10px 3px;
  background-color: gray !important;
  width: 370px !important;
  padding: 12px !important;
  border-radius: 8px;
  height: fit-content;
}
.sample-box h3{
  font-size: 15px;
}
.sample-box .k{
  position: relative;
}
.sample-box .k .x{
  top: -8px !important;
}
.dialog-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
}
.dialog-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgray;
  width: 500px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(8, 7, 7, 0.1);
  position: relative;
}
.message-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgray;
  width: 300px;
  height: 200px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(8, 7, 7, 0.1);
  position: relative;
}
.message-box .icon{
  font-size: 1rem;
}
.message-box .items, .item{
  display: flex;
  padding: 10px;
}
.message-box .items button{
  width: 100px !important;
}
.item button,.item select{
  width: 150px !important;
}

.input-group {
  margin-bottom: 5px;
  width: 100%;
  padding: 2px;
}

.input-group input[type="text"],select,.input-group p,.input-group span,
 .input-group input[type="number"],#textarea, .input-group input[type="file"] {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#textarea{
  height: 100px;
}

.btn {
  display: block;
  width: 95%;
  padding: 10px;
  margin: 0 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}
.img-dialog .img{
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 5px;
  border-radius: 20px;
  background-color: gray;
  box-shadow: 0 4px 8px rgba(8, 7, 7, 0.1);
}
img{
  width: 100%;
  height: 100%;
}
.output{
  width: 100%;
  height: 100vh;
  /*margin: .5rem;
  padding: 5px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.output #output{
  max-width: 100%;
  max-height: 100vh;
}
.lab{
  background-color: lightgray;
}
/*circle btns for lab*/
.circle-btns {
  display: flex;
  justify-content: space-between;
  margin: 8px 20px;
}

.circle-btns .items {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-btns .items span:hover{
  font-size: 32px;
  cursor: pointer; 
}

.circle-btns .items span {
  color: #fff;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
/*borehole footer*/
.borehole-footer,.pdf-view-header{
  width: 98%;
  height: 50px;
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background: #eee;
  display: flex;
}
.pdf-view-header{
  justify-content: space-between;
  background-color: #777;
  color: #fff;
  position: static;
}
#pdf-view{
  width: 200%;
}
#pdf-view .img{
  width: 100%;
  height: 100%;
}
.arrow-down{
  height: 20px;
  font-size: 1rem;
}
.flex-col{
  display: flex;
  flex-direction: column;
  margin: 0 3px;
}
.flex-row{
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.rect{
  width: 40px;
  height: 15px;
}
.blue-back{
  background: darkblue;
}
.red-back{
  background: red;
}
.yellow-back{
  background: yellow;
}
.black-back{
  background: black;
}
