@implements IDisposable

<div class="img">
    <img src="@path" />
</div>

@code {
    [Parameter]
    public string path {get;set;} = "";

    public void Dispose()
    {
        path = string.Empty;
    }
}
